<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head.ejs %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!--  Navbar -->
    <%- include ./partials/navbar.ejs %>

    <!--  Sidebar -->
    <%- include ./partials/sidebar.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="d-flex justify-content-between">
                <h1>Kecamatan</h1>
                <button type="button" class="btn btn-primary">Tambah</button>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>No</th>
                    <th style="width: 10px">id</th>
                    <th>Nama</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>63d7bbd46594e9d79d1d0f0d</td>
                    <td>Batununggal</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>63d7bbd46594e9d79d1d0f0d</td>
                    <td>Antapani</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>63d7bbd46594e9d79d1d0f0d</td>
                    <td>Cibeunying</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>63d7bbd46594e9d79d1d0f0d</td>
                    <td>Buah Batu</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<%- include ./partials/script.ejs %>
</body>
</html>