<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head.ejs %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!--  Navbar -->
    <%- include ./partials/navbar.ejs %>

    <!--  Sidebar -->
    <%- include ./partials/sidebar.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <h1>Dashboard</h1>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <p>Dashboard</p>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<%- include ./partials/script.ejs %>
</body>
</html>
